@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
}

.text-muted {
  color: #757575;
}

.active {
  --tw-border-opacity: 1;
  border-right-color: rgb(31 41 55 / var(--tw-border-opacity));
  border-right-width: 4px;
  --tw-border-opacity: 1;
  background-color: rgb(229 231 240 / var(--tw-border-opacity));
}

.top-rounded-button {
  border-radius: 8px 8px 0 0;
}

.bottom-rounded-button {
  border-radius: 0 0 8px 8px;
}

.not-highlightable {
  user-select: none; /* Disable text selection */
  -webkit-user-drag: none; /* Disable dragging on iOS Safari */
  -khtml-user-drag: none; /* Disable dragging on older versions of Safari */
  -moz-user-select: none; /* Disable text selection on Firefox */
  -moz-user-drag: none; /* Disable dragging on Firefox */
  -ms-user-select: none; /* Disable text selection on Internet Explorer/Edge */
  -ms-user-drag: none; /* Disable dragging on Internet Explorer/Edge */
  -webkit-touch-callout: none; /* Disable callout on iOS Safari */
}
