@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  font-family: "Acumin Pro", sans-serif;
  font-size: 1.875rem /* 30px */;
  line-height: 2.25rem /* 36px */;
  letter-spacing: -0.7px;
  font-weight: 600;
}

.text-muted {
  color: #757575;
}

.active {
  --tw-border-opacity: 1;
  border-right-color: rgb(31 41 55 / var(--tw-border-opacity));
  border-right-width: 4px;
  --tw-border-opacity: 1;
  background-color: rgb(229 231 240 / var(--tw-border-opacity));
}
