@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  font-family: "Acumin Pro", sans-serif;
  font-size: 1.875rem /* 30px */;
  line-height: 2.25rem /* 36px */;
  letter-spacing: -0.7px;
  font-weight: 600;
}
