@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/satoshi-regular-webfont.woff2") format("woff2"),
    url("./assets/fonts/satoshi-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/satoshi-medium-webfont.woff2") format("woff2"),
    url("./assets/fonts/satoshi-medium-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/satoshi-bold-webfont.woff2") format("woff2"),
    url("./assets/fonts/satoshi-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

.animate-background-shine {
  animation: background-shine 2s linear infinite;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: background-shine;
}

@keyframes background-shine {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.active {
  --tw-shadow-color: #f3e8ff;
  --tw-shadow: var(--tw-shadow-colored);

  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-text-opacity: 1;
  color: rgb(168 85 247 / var(--tw-text-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-shadow-color: #f3e8ff;
  --tw-shadow: var(--tw-shadow-colored);
}

.not-highlightable {
  user-select: none; /* Disable text selection */
  -webkit-user-drag: none; /* Disable dragging on iOS Safari */
  -khtml-user-drag: none; /* Disable dragging on older versions of Safari */
  -moz-user-select: none; /* Disable text selection on Firefox */
  -moz-user-drag: none; /* Disable dragging on Firefox */
  -ms-user-select: none; /* Disable text selection on Internet Explorer/Edge */
  -ms-user-drag: none; /* Disable dragging on Internet Explorer/Edge */
  -webkit-touch-callout: none; /* Disable callout on iOS Safari */
}
